body{
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background-color: #ffffff;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/*Header Start*/

.header {}

.header-navigation {}

.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo-colored{
    color: #2e2f42;;
}

.header-menu-list {}

.header-menu-item {}

.header-menu-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus{
        color: #404bbf;
}

.header-address {
    font-style: normal
}

.header-address-list {}

.header-address-link {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-address-link:hover,
.header-address-link:focus{
    color: #404bbf;
}

/*Header End*/

/*Hero Start*/

.hero {
    background: #2e2f42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-order-btn {
    background: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
        
}

.hero-order-btn:hover,
.hero-order-btn:focus{
    background: #404bbf;
}

/*Hero End*/

/*Services Start*/

.services {}

.services-title {
    visibility: hidden;
}

.services-list {}

.services-list-item {}

.services-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.services-list-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Services End*/

/*Team Start*/

.team {
    background: #f4f4fd;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.team-list {}

.team-list-item {
    background: #ffffff;;
}

.team-list-image {}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/*Team End*/

/*Portfolio Start*/

.portfolio {}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.portfolio-list {}

.portfolio-list-item {}

.portfolio-list-image {}

.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Portfolio End*/

/*Footer Start*/

.footer {
    background: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-colored {
    color: #f4f4fd;;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/*Footer End*/